{
  "extends": [
    "@goodt/stylelint-config-base"
  ],
  "rules": {
    "unit-disallowed-list": 0,
    "order/properties-order": 0,
    "at-rule-allowed-list": [
      "apply", "tailwind", "b", "e", "m", "import", "screen"
    ]
  }
}
